<% if candidacy.answered? && translated_attribute(candidacy.answer).present? %>
  <% announcement_body = capture do %>
  <h5><%= t("decidim.signature_collection.candidacies.result.answer_title") %>:</h5>
  <p>
    <% if candidacy.answer_url.present? %>
      <%= link_to candidacy.answer_url, target: "_blank", rel: "noopener noreferrer" do %>
        <%= decidim_sanitize_editor translated_attribute candidacy.answer %>
      <% end %>
    <% else %>
      <%= decidim_sanitize_editor translated_attribute candidacy.answer %>
    <% end %>
  </p>
  <% end %>

  <%= cell("decidim/announcement", { body: announcement_body }, callout_class: "success") %>
<% end %>

<% if candidacy.rejected? %>
  <%= cell("decidim/announcement", t("decidim.signature_collection.candidacies.result.candidacy_rejected_reason"), callout_class: "warning") %>
<% end %>
