<% add_decidim_page_title(t("new", scope: "decidim.signature_collection.create_candidacy.select_candidacy_type")) %>
<% announcement_body = capture do %>
  <div class="max-w-full prose">
    <%= t("fill_data_help", scope: "decidim.signature_collection.create_candidacy.fill_data").html_safe %>
    <%= link_to t(".more_information"), decidim.page_path("candidacies"), target: "_blank", class: "button button__sm button__text-secondary block text-left" %>
  </div>
<% end %>

<%= cell("decidim/announcement", { body: announcement_body }, callout_class: "secondary") %>
<%= decidim_form_for(@form, url: fill_data_create_candidacy_index_path, method: :put, html: { class: "form-defaults new_candidacy_form", novalidate: false }) do |f| %>
  <div class="form__wrapper">
    <%= form_required_explanation %>

    <%= f.hidden_field :type_id %>

    <%= f.text_field :title, autofocus: true, value: translated_attribute(f.object.title) %>

    <%= text_editor_for(f, :description, lines: 8, toolbar: :content, value: translated_attribute(f.object.description)) %>

    <% signature_type_options = signature_type_options(f.object) %>
    <% if signature_type_options.length == 1 %>
      <%= f.hidden_field :signature_type, value: signature_type_options.first.last %>
    <% else %>
      <%= f.select :signature_type, signature_type_options %>
    <% end %>

    <% if scopes.length == 1 %>
      <%= f.hidden_field :scope_id, value: scopes.first.scope&.id %>
    <% else %>
      <%= f.select :scope_id, scopes.map { |scope| [translated_attribute(scope.scope_name), scope&.scope&.id] }, required: true, include_blank: t(".select_scope") %>
    <% end %>

    <% if candidacy_type.custom_signature_end_date_enabled? %>
      <%= f.date_field :signature_end_date %>
    <% end %>

    <% if candidacy_type.area_enabled? %>
      <%= f.areas_select :area_id, areas_for_select(current_organization), prompt: t(".select_area") %>
    <% end %>

    <% if Decidim::UserGroups::ManageableUserGroups.for(current_user).verified.any? %>
      <%= f.select :decidim_user_group_id, Decidim::UserGroups::ManageableUserGroups.for(current_user).verified.map { |g| [g.name, g.id] }, include_blank: current_user.name %>
    <% end %>

    <% if candidacy_type.attachments_enabled? %>
      <%= f.attachment :documents,
                       multiple: true,
                       label: t("decidim.signature_collection.form.add_attachments"),
                       button_label: t("decidim.signature_collection.form.add_attachments"),
                       button_class: "button button__lg button__transparent-secondary w-full",
                       button_edit_label: t("decidim.signature_collection.form.edit_attachments"),
                       help_text: t("attachment_legend", scope: "decidim.signature_collection.form") %>
    <% end %>

    <% if @form.state_updatable? %>
      <%= f.select :state, Decidim::SignatureCollection::Candidacy.states.keys.map { |state| [I18n.t(state, scope: "decidim.signature_collection.admin_states"), state] }, {} %>
    <% end %>

    <div class="form__wrapper-block flex-col-reverse md:flex-row justify-between">
      <%= link_to :back, class: "button button__sm md:button__lg button__text-secondary" do %>
        <%= icon "arrow-left-line", class: "fill-current" %>
        <%= t(".back") %>
      <% end %>
      <%= f.submit t(".continue"), class: "button button__sm md:button__lg button__secondary", data: { disable_with: true } %>
    </div>
  </div>
<% end %>
