<% add_decidim_page_title(t("new", scope: "decidim.signature_collection.create_candidacy.select_candidacy_type")) %>
<% content_for :back_link do %>
  <%= link_to :back do %>
    <%= icon "arrow-left-s-line", class: "icon--small", role: "img", "aria-hidden": true %>
    <%= t(".back") %>
  <% end %>
<% end %>

<% announcement_body = capture do %>
  <%= t("callout_text", scope: "decidim.signature_collection.create_candidacy.finish").html_safe %>
<% end %>

<%= cell("decidim/announcement", { body: announcement_body }, callout_class: "secondary") %>

<div class="form__wrapper">
  <p><%== t "publish_helper_text", scope: "decidim.signature_collection.create_candidacy.finish_help" %></p>
</div>

<div class="form__wrapper-block flex-col-reverse md:flex-row justify-between">
  <%= link_to candidacies_path, class: "button button__sm md:button__lg button__text-secondary" do %>
    <%= icon "arrow-left-line" %>
    <span><%= t(".back_to_candidacies") %></span>
  <% end %>

  <%= link_to t(".edit_my_candidacy"), edit_candidacy_path(current_candidacy), class: "button button__sm md:button__lg button__transparent-secondary md:ml-auto" %>

  <% unless promotal_committee_required? %>
    <%= link_to t(".send_my_candidacy"), decidim_candidacies.send_to_technical_validation_candidacy_path(current_candidacy), class: "button button__sm md:button__lg button__secondary", data: { confirm: t(".confirm") } %>
  <% end %>
</div>
