<%= cell("decidim/announcement", t("decidim.signature_collection.candidacy_signatures.fill_personal_data.help"), callout_class: "secondary") %>

<%= decidim_form_for(@form, url: fill_personal_data_candidacy_signatures_path, method: :put) do |f| %>
  <%= form_required_explanation %>
  <div>
    <div class="form__wrapper">
      <%= f.text_field :name, autofocus: true, required: true %>
    </div>

    <div class="form__wrapper">
      <%= f.text_field :first_surname, autofocus: true, required: true %>
    </div>

    <div class="form__wrapper">
      <%= f.text_field :second_surname, autofocus: true %>
    </div>

    <div class="form__wrapper">
      <%= f.select :document_type, options_for_select(Decidim::SignatureCollection::VoteForm.document_types.map { |k, v| [I18n.t(k, scope: [:activerecord, :attributes, :decidim, :signature_collection, :vote_form, :document_types]), v] }, f.object.document_type), required: true %>
    </div>

    <div class="form__wrapper">
      <%= f.text_field :document_number, required: true %>
    </div>

    <div class="form__wrapper">
      <%= f.date_field :date_of_birth, min: 120.years.ago.to_date, max: 16.years.ago.to_date, value: 35.years.ago.to_date %>
    </div>

    <div class="form__wrapper">
      <%= f.text_field :postal_code, required: true %>
    </div>

    <div>
      <small>
        <%= strip_tags(translated_attribute(extra_data_legal_information)) %>
      </small>
    </div>
  </div>

  <div class="form__wrapper-block">
    <%= f.submit t(".continue"), class: "button button__sm md:button__lg button__secondary" %>
  </div>
<% end %>
