<% if @candidacies_settings&.creation_enabled %>
  <% if available_candidacy_types.size > 1 %>
    <% if current_user %>
      <%= link_to create_candidacy_path(:select_candidacy_type), class: "!px-4 title-action__action button button__xl button__secondary w-full" do %>
        <%= t("new_candidacy", scope: "decidim.candidacies.candidacies.index_header") %>
        <%= icon "add-fill" %>
      <% end %>
    <% else %>
      <% content_for(:redirect_after_login) { create_candidacy_url(:select_candidacy_type) } %>
      <button type="button" class="button button__xl button__secondary w-full" data-dialog-open="loginModal" aria-controls="loginModal" aria-haspopup="dialog" tabindex="0">
        <%= t("new_candidacy", scope: "decidim.candidacies.candidacies.index_header") %>
        <%= icon "add-fill" %>
      </button>
    <% end %>
  <% elsif (candidacy_type = available_candidacy_types.first).present? %>
    <% content_for(:redirect_after_login) { fill_data_create_candidacy_index_path(candidacy: { type_id: candidacy_type.id }) } unless current_user %>
    <%= action_authorized_link_to(
          :create,
          fill_data_create_candidacy_index_path(candidacy: { type_id: candidacy_type.id }),
          authorizations_modal_path: authorization_create_modal_candidacy_path(candidacy_type),
          permissions_holder: candidacy_type,
          "data-dialog-open": allowed_to?(:create, :candidacy, { candidacy_type: }) ? "" : "not-authorized-modal",
          class: "!px-4 title-action__action button button__xl button__secondary w-full"
        ) do %>
      <%= t("new_candidacy", scope: "decidim.candidacies.candidacies.index_header") %>
      <%= icon "add-fill" %>
    <% end %>
  <% end %>
<% end %>

<%= render partial: "decidim/candidacies/modal" %>
